$bcg-color: #060e17ff;
$ffamily: "Aoboshi One", serif;
$font-title-gradient: linear-gradient(130deg, rgba(210,166,0,1) 0%, rgba(215,151,0,1) 41%, rgba(255,236,1,1) 85%);
$font-content-color: #C9AA71;
$font-content-hover-color: #c7a159;